@import url('https://fonts.googleapis.com/css?family=Adamina');
*{
	box-sizing: border-box;
	padding:0; 
	margin:0;
}
body{
	background-color: thistle ;
	padding:10px;
	font-family: 'Adamina', serif;
}

h2{
	background-color:white;
	margin:10px 0;
	padding:10px;
}

h1{
	text-align:center;
}
nav ul{
	overflow: auto;
	list-style: none; /* this takes off the bullet points of li's in a ul */
	background-color: white;

}
nav li{
	padding:10px;
	float: left;
	width: 33.33%;
}
nav a {
	color: #BCD8B7;
	text-decoration: none;
	font-size: 25px;
	transition: .5s;
}
nav a:hover {
	color: #D30C7B;
}

.header{
	background-image: url("../images/galaxyphoto.jpeg");
	background-size:cover;
	color:white;
	padding:25px;

}
.main-content{
	padding:25px;
	color:#544E61;
	margin:20px;
	text-align:center;
}
.main-content ul{
	list-style:none;
}
.img-50{
	width:50%;
	display:block;
	padding-top: 20px;

}
.img-51{
	width:50%;
	display:block;
	padding-top: 20px;
}

/* These are Utility Classes 
==============================================*/

.center-text {
	text-align:center;
}

